
body{
    margin:0; 
    background-color: #ececec;  
}

#navbar{
    font-family:Arial, Helvetica, sans-serif;    
    height:110px;
    width:100%;
    background-color:#212529;
    display: flex;
    justify-content: center;
    align-items: center;  
}

#logo{
    font-size:30px;
    color:whitesmoke;
    position: relative;
    margin-left:40px;
}

#home{
    font-size:20px;
    position: relative;
    color:white;
    margin-left:90px;
}

#about{
    font-size:20px;
    position: relative;
    color: gray;
    margin-left:80px;
}
#home:hover{
    text-decoration:underline;
    transition-duration:2s;
}
#about:hover{
    text-decoration:underline;
    transition-duration:1s;
}

a{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#search{
    height: 40px;
    width:300px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    margin-left:500px;
    font-size:medium;
   
}

#search:hover{
    border:4px solid #ffc83d;
}

#button{
    background-color:#ffc83d;
    color:black;
    height:43px;
    width:95px;
    font-size:20px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main
{
    display:flex;
    justify-content: center;
}
#container{
    display: flex;
    justify-content:space-evenly;
    margin-top:70px;
    margin-bottom:50px; 
    width:90%;
}
.card{
height: 304px;
width: 288px;;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
border-radius:10px;
  
}
.card-body{
    padding:16px;
    display:block;
}
.imagesize{
    height: 162px;
    width: 288px;
    border-top-left-radius:10px;  
    border-top-right-radius:10px;  
}
.btn{
    width: 123px;
    height: 37px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    border-radius:5px;
}
.btn:hover{
    background-color:#ffc83d;
    transition-duration:500ms;
    color:black;
}
b{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;    

}
.discription{
    font-family:Arial, Helvetica, sans-serif;    

}
.card:hover{
    box-shadow: #ffc83d 0px 5px 15px; 
    transition-duration:1.5s;
}

#warning{
    font-size:medium;
    font-family: Arial, Helvetica, sans-serif;
    height:50px;
    color: rgb(161, 73, 73);
    background-color:#ffc83d4a;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer{
    align-items: center;
    text-align: center;
    font-family:sans-serif;
    font-size:13px;
}
#Aboutcontainer{
    width:90%;
    display: block;
    padding-top:40px;
    padding-left:30px;

}
#AboutTitle{
font-size:30px;
font-family:sans-serif;
padding-bottom:20px;
}
#AboutMatter{
    font-size:17px;
    font-family:sans-serif;
    width:80%;
    text-align: justify;
    text-justify: inter-word;
}

#AboutFooter{
    font-family: sans-serif;
    text-align: center;
    margin-top: 10%;
}